gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# Ignore specific large files
android/app/build/intermediates/assets/debug/flutter_assets/kernel_blob.bin
android/app/build/outputs/apk/debug/app-debug.apk


../backend/node_modules/